<div class="container py-2">

    <div class="card bg-dark text-white">
        <h5 class="card-header">Formulario del cliente</h5>
        <div class="card-cody px-3 py-3">
            <form (submit)="editarUsuario()">    
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form -label">Nombre</label>
                    <div class="col-sm-6">
                        <input name="nombre" [(ngModel)]="editUsuario.nombre" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-6">
                        <input name="apellidos" [(ngModel)]="editUsuario.apellidos" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-6">
                        <input name="usuario" [(ngModel)]="editUsuario.nombreUsuario" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">Correo</label>
                    <div class="col-sm-6">
                        <input name="email" [(ngModel)]="editUsuario.email" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">Tel&eacute;fono</label>
                    <div class="col-sm-6">
                        <input name="telefono" [(ngModel)]="editUsuario.telefono" type="text" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">Direcci&oacute;n</label>
                    <div class="col-sm-6">
                        <input name="direccion" [(ngModel)]="editUsuario.direccion" type="text" class="form-control"/>
                    </div>
                </div>         
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">Tipo Documento</label>
                    <div class="col-sm-6">
                        <select name="documento" id="documento" [(ngModel)]="editUsuario.tipoDocumento.id">
                            <option value="1">DNI</option>
                            <option value="2">Pasaporte de extranjer&iacute;a</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">Nro Documento</label>
                    <div class="col-sm-6">
                        <input name="documento" [(ngModel)]="editUsuario.documento" type="text" class="form-control"/>
                    </div>
                </div>  
                <div class="form-group row mb-3">
                    <label class="col-sm-2 col-form-label">Estado</label>
                    <div class="col-sm-6">
                        <input name="activo" [(ngModel)]="editUsuario.estado" type="checkbox" class="form-control form-check form-check-input"/>
                    </div>
                </div>
                <div class="form-group row mb-3 form_crear">
                    <div class="col-sm-6">  
                        <input type="submit" value="Editar cliente" class="btn btn-secondary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>