<app-headerv2></app-headerv2>
<main class="contenedor">
  <div class="titulo">
    <h1>ACERCA DE NOSOTROS</h1>
  </div>

  <div class="main">
    <div class="imagen_main">
      <img src="../../../assets/img/mision.jpg" alt="" />
    </div>

    <div class="nosotros">
      <div class="mision">
        <h2>Misión:</h2>
        <p>
          Brindar el mejor servicio a nuestros clientes, dando una conexión de
          Internet confiable, veloz y de alta calidad.
        </p>
      </div>

      <div class="vision">
        <h2>Visión:</h2>
        <p>
          LLevar nuestro servicios a todos los hogares, negocios y empresas
          donde no cuenta con un buen servicio de Internet, manteniendo un
          servicio confiable y de alta velocidad.
        </p>
      </div>
    </div>
  </div>
</main>
