<header>
    <nav>
        <div>
            <img src="../../../assets/img/logo2.png" alt="" class="logo">
        </div>
        
        <ul class="nav-menu pointer">
            <li><a routerLink="../home" class="active">Inicio</a></li>
            <li><a routerLink="../planes" class="active">Planes</a></li>
            <li><a routerLink="../acerca-de-nosotros" class="active">Acerca de Nosotros</a></li>
            <li><a routerLink="../contact" class="active">Contacto</a></li>
            <li><a routerLink="../login" class="active">Login</a></li>

        </ul>
    </nav>

    <div class="banner-text">
        <h1>BIENVENIDOS A MOVITEC PERÚ</h1>
        <h2>Servicio de Internet 100% Fibra Optica</h2>
        <div class="botones_banner">
            <a routerLink="../contact" class="button1">Conoce más</a>
            <a routerLink="../contact" class="button2">Contratar</a>
        </div>
    </div>

</header>