<app-header-principal></app-header-principal>

<main class="contenedor">
  <!--Planes-->
  <div class="titulo_planes">
    <h1>CONOCE LOS PLANES QUE TENEMOS PARA TI</h1>
  </div>
  <section class="layout">
    <div class="layout__planes">
      <div class="grow1">
        <h2>Internet Fibra Hogar</h2>
        <img src="../../../assets/img/logo home.JPG" alt="" class="home" />
        <h1>{{ planes[0].velocidad }} Mbps</h1>
        <h3>Precio S/.{{ planes[0].precio }} al mes</h3>
        <img src="../../../assets/img/Logo Fibra.JPG" class="imgrow1" alt="" />
        <h4>100% Fibra Optica</h4>
        <img
          src="../../../assets/img/logo descarga.JPG"
          class="imgrow1"
          alt=""
        />
        <h4>Internet Ilimitado y Simétrico</h4>
        <img src="../../../assets/img/velocidad.png" class="imgrow1" alt="" />
        <h4>Mayor Velocidad</h4>
        <div>
          <input
            routerLink="../contact"
            class="btn__planes"
            type="button"
            value="Contratar"
          />
        </div>
      </div>
    </div>

    <div class="layout__planes">
      <div class="grow2">
        <h2>Internet Fibra Negocio</h2>
        <img src="../../../assets/img/logo tienda.JPG" alt="" class="negocio" />
        <h1>{{ planes[1].velocidad }} Mbps</h1>
        <h3>Precio S/.{{ planes[1].precio }} al mes</h3>
        <img src="../../../assets/img/Logo Fibra.JPG" class="imgrow1" alt="" />
        <h4>100% Fibra Optica</h4>
        <img
          src="../../../assets/img/logo descarga.JPG"
          class="imgrow1"
          alt=""
        />
        <h4>Internet Ilimitado y Simétrico</h4>
        <img src="../../../assets/img/velocidad.png" class="imgrow1" alt="" />
        <h4>Mayor Velocidad</h4>
        <div>
          <input
            routerLink="../contact"
            class="btn__planes"
            type="button"
            value="Contratar"
          />
        </div>
      </div>
    </div>

    <div class="layout__planes">
      <div class="grow3">
        <h2>Internet Fibra Empresa</h2>
        <img
          src="../../../assets/img/logo company.jpg"
          alt=""
          class="company"
        />
        <h1>{{ planes[2].velocidad }} Mbps</h1>
        <h3>Precio S/.{{ planes[2].precio }} al mes</h3>
        <img src="../../../assets/img/Logo Fibra.JPG" class="imgrow1" alt="" />
        <h4>100% Fibra Optica</h4>
        <img
          src="../../../assets/img/logo descarga.JPG"
          class="imgrow1"
          alt=""
        />
        <h4>Internet Ilimitado y Simétrico</h4>
        <img src="../../../assets/img/velocidad.png" class="imgrow1" alt="" />
        <h4>Mayor Velocidad</h4>
        <div>
          <input
            routerLink="../contact"
            class="btn__planes"
            type="button"
            value="Contratar"
          />
        </div>
      </div>
    </div>
  </section>

  <!--Beneficios-->
  <div class="beneficios__main">
    <div class="beneficios__Titulo">
      <h1>MUCHO MÁS BENEFICIOS PARA TI</h1>
    </div>

    <div class="beneficios_container">
      <div class="beneficios__imagen">
        <img
          src="../../../assets/img/navegando.jpg"
          class="beneficio__img"
          alt=""
        />
      </div>

      <div class="beneficios">
        <div class="beneficio1">
          <img
            src="../../../assets/img/Logo Fibra.JPG"
            class="beneficio1__img"
            alt=""
          />
          <h2>Mejor Tecnología</h2>
          <h3>100% Fibra Óptica</h3>
        </div>

        <div class="beneficio1">
          <img
            src="../../../assets/img/velocidad.png"
            class="beneficio2__img"
            alt=""
          />
          <h2>Mayor Velocidad</h2>
          <h3>Descarga y subida a gran velocidad</h3>
        </div>

        <div class="beneficio1">
          <img
            src="../../../assets/img/ahorro.JPG"
            class="beneficio3__img"
            alt=""
          />
          <h2>Mejores Precios</h2>
          <h3>El mejor precio con más beneficios</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Cobertura -->
  <div class="cobertura__titulo">
    <h1>Conoce Nuestra Cobertura</h1>
  </div>
  <div class="cobertura__main">
    <div class="cobertura__imagen">
      <img src="../../../assets/img/buscando.JPG" alt="" />
    </div>

    <div class="cobertura__maps">
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1nXblNqa3fI7QF40wpH95O1FJP9Jb7LfP&ehbc=2E312F"
        width="640"
        height="480"
      ></iframe>
    </div>
  </div>
  <section class="main-distrito">
    <div class="distrito-titulo">
      <h1>Busca tu distrito</h1>
    </div>
    <select class="select"
      (change)="navegar()"
      name="distrito"
      id="distrito"
      [(ngModel)]="distrito">
      <option *ngFor="let item of distritos" value="{{ item.distrito }}">
        {{ item.distrito }}
      </option>
    </select>
  </section>
</main>
